.app{
   background-color: var(--dark-color1);
}

body {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  background-color: #ffffff;
  color: var(--primary-color);
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  font-weight: 500;
}

div{
  display: block;
}