.about {
  background-image: url("../../assets/bg2.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

.container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 3vh;

  h1 {
    font-family: var(--font-base);
    font-size: 2.5rem;
    font-weight: 500;
    color: #000;
  }
  span img {
    width: 15vw;
    height: fit-content;
    margin-top: 3vh;
  }
  #p_content {
    margin-top: 3vh;
  }
  p {
    text-align: center;
  }
  .content {
    margin: 0;
    margin-top: 4vw;
    padding: 0 5vw;
    height: 60%;
    width: 100%;
    display: flex;

    .left_img {
      width: 50%;
      height: 100%;
      overflow: hidden;

      img {
        border-radius: 15px;
        height: 95%;
        width: 95%;
      }
    }
    .right_info {
      width: 50%;
      height: 100%;
    }
  }
}

#div_con {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1{
    font-weight: 500;
    font-size: 2.5rem;
  }
  p {
    margin-top: 2%;
    padding-left: 1vw;
    text-align: start;
  }
}

.con_exp {
  width: 80%;
  height: 15vh;
  margin-top: 1vw;
  margin-left: 3%;
  display: flex;
  display: flex;
  align-items: center;

  #sp_img {
    border: 1px solid #00000068;
    border-radius: 50%;
    width: 6vw;
    height: 13vh;
    display: flex;
    justify-content: center;
    img {
      width: 3vw;
      height: 6vh;
    }
  }
  #thirty {
    margin-left: 2vw;
    font-family: var(--font-base);
    color: var(--secondary-color);
    font-size: 3rem;
  }
  #exp_con{
    margin-left: 0.5vw;
    h5{
        font-size: 1rem;
        font-weight: 200;
        color: #000;
        font-family: var(--font-base);
    }
    h2{
        font-size: 2rem;
        font-weight: 500;
        color: #000;
        font-family: var(--font-base);
    }
  }
}
#read_btn{
  margin-top: 1rem;
  margin-left: 1vw;
  height: 3.5vw;
  width: 25vh;
  color: #fff;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 300;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover{
      background-color: red;
  }
}
}